{% macro header(title_de, title_en) -%}
%% [markdown] lang="de" tags=["slide"]
{% if is_notebook or is_html %}
# <img src="data:image/svg+xml;base64,{% include "python-logo-no-text-optimized.base64" %}"
#      style="display:block;margin:auto;width:10%" alt="Python Logo"/>
# <br>
{% endif %}
# <div style="text-align:center; font-size:200%;">
#  <b>{{ title_de }}</b>
# </div>
# <br/>
# <div style="text-align:center;">Dr. Matthias Hölzl</div>
# <br/>

# %% [markdown] lang="en" tags=["slide"]
{% if is_notebook or is_html %}
# <img src="data:image/svg+xml;base64,{% include "python-logo-no-text-optimized.base64" %}"
#      style="display:block;margin:auto;width:10%" alt="Python Logo"/>
# <br>
{% endif %}
# <div style="text-align:center; font-size:200%;">
#   <b>{{ title_en }}</b>
# </div>
# <br/>
# <div style="text-align:center;">Dr. Matthias Hölzl</div>
# <br/>
{% endmacro -%}
