{% macro header(title_de, title_en) -%}
{% if is_notebook or is_html %}
// <img src="data:image/svg+xml;base64,{% include 'java-logo.svg.base64' %}"
//      alt="Java Logo" style="display:block;margin:auto;width:5%"/>
// <br>
{% endif %}
// <div style="text-align:center; font-size:200%;">
//  <b>{{ title_de }}</b>
// </div>
// <br/>
// <div style="text-align:center; font-size:120%;">{{ author }}</div>
// <br/>
{% if organization %}
// <div style="text-align:center;">{{ organization }}</div>
// <br/>
{% endif %}

// %% [markdown] lang="en" tags=["slide"]
{% if is_notebook or is_html %}
// <img src="data:image/svg+xml;base64,{% include 'java-logo.svg.base64' %}"
//      alt="Java Logo" style="display:block;margin:auto;width:5%"/>
// <br>
{% endif %}
// <div style="text-align:center; font-size:200%;">
//   <b>{{ title_en }}</b>
// </div>
// <br/>
// <div style="text-align:center; font-size:120%;">{{ author }}</div>
// <br/>
{% if organization %}
// <div style="text-align:center;">{{ organization }}</div>
// <br/>
{% endif %}
{% endmacro -%}

{% macro eval(expr) -%}
{{ expr }}
{% endmacro -%}
